<div class="row w-100 h-100 m-0">
  <div class="col-12 sidenav p-3">
    <div class="close text-end d-lg-none" (click)="closeSideNav()">
      <svg class="sidenav-icon">
        <use xlink:href="icons.svg#icon-x"></use>
      </svg>
    </div>

    @for (route of routes; track $index) { @if (route.newTab) {
    <a [href]="route.route" target="_blank" class="sidenav-link">
      <svg class="sidenav-icon">
        <use [attr.xlink:href]="'icons.svg' + route.icon"></use>
      </svg>
      <span class="sidenav-text">{{ route.label }}</span>
    </a>
    } @else {
    <a [routerLink]="[route.route]" class="sidenav-link">
      <svg class="sidenav-icon">
        <use [attr.xlink:href]="'icons.svg' + route.icon"></use>
      </svg>
      <span class="sidenav-text">{{ route.label }}</span>
    </a>
    } }

    <p class="socials">Socials</p>

    @for (route of socialMediaLinks; track $index) {
    <a [href]="route.route" target="_blank" class="sidenav-link">
      <svg class="sidenav-icon" [ngStyle]="{ fill: route.color }">
        <use [attr.xlink:href]="'icons.svg' + route.icon"></use>
      </svg>
      <span class="sidenav-text">{{ route.label }}</span>
    </a>
    }
  </div>
</div>
