.content-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.link {
  color: #eee;
  font-size: 0.875rem;
  text-decoration: none;
  border-radius: 0.3rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 0.3rem;
  transition: all 0.3s;

  &-icon {
    height: 1rem;
    width: 1rem;
    fill: #eee;
  }

  &:hover {
    transform: translateY(-0.16rem);
  }
}

.sidenav-container {
  flex: 1;
  margin: 0 !important;

  mat-sidenav {
    width: 16rem;
    left: 1rem;
    bottom: 1rem;
    border-radius: 0.6rem;
  }
}

.is-mobile .sidenav-container {
  flex: 1 0 auto;
}

.main {
  padding: 0 1rem 1rem;
  padding-left: 2rem;
}

mat-icon {
  color: #eee;
}

@media screen and (max-width: 992px) {
  .sidenav-container mat-sidenav {
    width: 16rem;
    top: 0 !important;
    left: 0;
    bottom: 0;
    border-radius: 0;
  }
  .main {
    padding-left: 1rem;
  }
}
