<div class="row p-3">
  <section class="col-12 banner">
    <img
      class="banner-img"
      src="images/sk_bg-yellow.png"
      alt="Sachin Kumar Guri"
    />
    <div class="banner-text">
      <h4 class="banner-text__fullname m-0">Sachin Kumar Guri</h4>
      <p class="banner-text__username m-0">{{ "@Kumarsachinguri" }}</p>
      <p class="banner-text__username m-0">
        A Software Engineer, Committed to continuous learning and actively
        shaping the future of software development.
      </p>
    </div>
    <div class="banner-links">
      @for (route of socialMediaLinks; track $index) {
      <a [href]="route.route" target="_blank" class="banner-links__item">
        <svg class="banner-links__icon" [svgHighLight]="route.color">
          <use [attr.xlink:href]="'icons.svg' + route.icon"></use>
        </svg>
      </a>
      }
    </div>
  </section>

  <section class="col-12 project mt-4">
    <h4 class="heading-2">Projects</h4>
    <div class="project-card__container">
      @for (project of projects; track $index) {
      <div class="project-card">
        <img [src]="'/images/' + project.image" alt="{{ project.heading }}" />
        <div class="project-card__text">
          <h5 class="project-card__text--heading">
            {{ project.heading }}
          </h5>
          <div class="project-card__text--skills">
            @for (skill of project.skills; track $index) {
            <div></div>
            <cite>{{ skill }}</cite>
            }
          </div>
        </div>
      </div>
      }
    </div>
  </section>

  <section class="col-12 knowledge mt-4">
    <h4 class="heading-2">What i know</h4>

    <div class="knowledge-card__container">
      @for (badge of knowledgeBadges; track $index) {
      <div class="knowledge-card">
        <p class="knowledge-card__field">
          {{ badge.field }}
        </p>

        <div class="knowledge-card__badges">
          @for (skill of badge.skills; track $index) {
          <div
            class="knowledge-card__badges--badge"
            [ngStyle]="{
              border: skill.borderColor ? '1px solid ' + skill.borderColor : ''
            }"
          >
            {{ skill.label }}
          </div>
          }
        </div>
      </div>
      }
    </div>
  </section>

  <section class="col-12 hire mt-4">
    <h4 class="heading-2">Hire me!</h4>
    <p class="hire-intro">
      Excited to learn about your projects and how I can contribute to its
      success. Fill out the form below with your project requirements, and let's
      start building something great together!
    </p>
    <form novalidate class="hire-form" [formGroup]="hireForm">
      <div class="form-group">
        <label for="fullName" class="form-label"> Full Name </label>
        <input
          type="text"
          name="fullName"
          formControlName="fullName"
          id="fullName"
          class="form-input"
        />
      </div>
      <div class="form-group">
        <label for="emailAddress" class="form-label"> Email Address </label>
        <input
          type="text"
          name="emailAddress"
          formControlName="emailAddress"
          id="emailAddress"
          class="form-input"
        />
      </div>
      <div class="form-group">
        <label for="message" class="form-label"> Message </label>
        <textarea
          name="message"
          formControlName="message"
          id="message"
          class="form-input"
        ></textarea>
      </div>
      <div class="form-group">
        <label for="requirements" class="form-label">
          Project Requirements
        </label>
        <textarea
          name="requirements"
          formControlName="requirements"
          id="requirements"
          class="form-input"
        ></textarea>
      </div>
      <div class="form-group">
        <input type="submit" class="form-submit" value="Send" />
      </div>
    </form>
  </section>
</div>
