<div class="row p-3">
  <section class="col-12 banner">
    <img class="banner-img" src="images/sk_bg-yellow.png" alt="Sachin Kumar Guri">
    <div class="banner-text">
      <h4 class="banner-text__fullname m-0">Sachin Kumar Guri</h4>
      <p class="banner-text__username m-0">{{'@Kumarsachinguri'}}</p>
      <p class="banner-text__username m-0">
        A Software Engineer, Committed to continuous learning and actively shaping the future of software
        development.
      </p>
    </div>
    <div class="banner-links">
      @for (route of socialMediaLinks; track $index) {
      <a [href]="route.route" target="_blank" class="banner-links__item">
        <svg class="banner-links__icon" [svgHighLight]="route.color">
          <use [attr.xlink:href]="'icons.svg' + route.icon"></use>
        </svg>
      </a>
      }
    </div>
  </section>

  <section class="col-12 knowledge">
    <h4 class="knowledge-heading">What i know</h4>

    <div class="knowledge-card__container">
      @for (badge of knowledgeBadges; track $index) {
      <div class="knowledge-card">
        <p class="knowledge-card__field">
          {{ badge.field }}
        </p>

        <div class="knowledge-card__badges">
          @for (skill of badge.skills; track $index) {
          <div class="knowledge-card__badges--badge"
            [ngStyle]="{'border': skill.borderColor ? '1px solid ' + skill.borderColor : '' }">
            {{ skill.label }}
          </div>
          }
        </div>
      </div>
      }
    </div>
  </section>
</div>