<div class="container">
  <div class="row">
    <div class="col-12">
      <mat-tab-group animationDuration="0ms">
        <mat-tab label="Angular architecture">
          <div [innerHTML]="markdownContent" class="text-white"></div>
        </mat-tab>
        <mat-tab label="Skin Care Basics">
          <div [innerHTML]="skinCareMarkDownContent" class="text-white"></div>
        </mat-tab>
        <mat-tab label="Diet Plan">
          <div [innerHTML]="dietMarkDownContent" class="text-white"></div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
